{{#if search_bar}}

<div class="row-12 ">
    <div class=" " style="margin:0 auto; max-width:70vh; ">
        <form action="/students" method="POST" class="">
            <input id="searchInput" name="searchInput" class="form-control " type="search" placeholder="اكتب رقم الهوية"
                aria-label="Search">
        </form>
    </div>

</div>
{{/if}}